.gl {
    transition: transform 2s;
}

.gl:hover {
    transform: scale(1.25);
}

.gallery_grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;

}




@media screen and (max-width:1440px) {
    .gallery_grid {

        grid-template-columns: auto auto auto;

    }
}

@media screen and (max-width:1090px) {
    .gallery_grid {

        grid-template-columns: auto auto;

    }
}

@media screen and (max-width:700px) {
    .gallery_grid {

        grid-template-columns: auto;

    }
}