.card-user {
    width: 450px;
    height: 230px;
    padding: 15px;
    background-image: url(C:\projects\amenaralo\src\Media\bguse-01.png);
    background-size: cover;

}

.card-user img {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.card-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: start;

}

.btn-font {
    font-size: 23px;
}

@media screen and (max-width:1320px) {
    .card-user {
        width: 300px;
    }

    .btn-font {
        font-size: 15px;
    }
}

@media screen and (max-width:665px) {
    .card-grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;

    }
}