/* ------------this font is for only headers----------- */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

/* This css class is for all headers */
.common_head {
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 55px;
}

.banner-content-all h1 {
    font-family: 'Philosopher';
    -webkit-text-stroke: 1px #f79351;
    text-shadow: 2px 2px 8px black;
}


.second_head {

    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;

}


@media screen and (max-width:500px) {
    .common_head {

        font-size: 27px;
        line-height: 35px;
    }

}

@media screen and (max-width:535px) {
    .second_head {


        font-size: 17px;
        margin-bottom: 5px;
        margin-top: 10px;


    }
}