.swiper-button-prev {
    color: #FF6600;
}

.swiper-button-next {
    color: #FF6600;


}

.swiper-pagination-bullet-active {

    background-color: #FF6600;
}

@media screen and (max-width:500px) {
    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

}