@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');


.banner-content-about {
    height: 500px;
    background-image: url(https://i.ibb.co/xYWmKv2/children-day-16549327424x3-1-1-1-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.flexible-ceo-video {
    display: flex;
    align-items: center;
}

.ceo_img_width {
    width: 45%;
}

.ceo-content-width {
    width: 55%;
}

.ceo-text-padding1 {
    padding-left: 30px;
}


.inspriation {
    height: 550px;

}

.ins-text {
    height: 500px;
}


.goal_img_width {
    width: 45%;
}

.goal-content-width {
    width: 55%;
}

.flexible-goal {
    display: flex;
}

.goal-text-padding {
    padding-right: 30px;
}



@media screen and (max-width:1023px) {
    .banner-content-about {
        height: 300px;

    }

}






@media screen and (max-width:935px) {

    .flexible-ceo-video {
        flex-direction: column-reverse;
    }

    .ceo_img_width {
        width: 100%;
    }

    .ceo-content-width {
        width: 100%;
    }

    .ceo-text-padding1 {
        padding-left: 0;
    }

    .flexible-goal {
        flex-direction: column-reverse;
    }

    .goal_img_width {
        width: 100%;
        margin-bottom: 15px;
    }

    .goal-content-width {
        width: 100%;
    }

    .goal-text-padding {
        padding-right: 0;
    }
}